.img-mo {
  display: none;
}
@media (min-width: 1400px) and (max-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 920px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container,
  .container-sm {
    max-width: 768px;
  }
}
@media (max-width: 1365px) {
  header .logo {
    margin-right: 1.568vw;
  }
  header ul li {
    margin-right: 1vw;
  }
  .btn-icon {
    margin-left: 8px;
  }
}

@media (max-width: 1280px) {
  .newsletter-wrap {
    .form-control {
      width: 16.8vw;
    }
  }
}

@media (max-width: 1024px) {
  .img-pc {
    display: none;
  }
  .img-mo {
    display: block;
  }
  .gnb-mo {
    display: flex;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .copywirte-wrap {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .newsletter-wrap {
    img {
      display: none;
    }
  }
  header {
    display: none;
  }
}
