* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #f5f5f5;
  font-weight: 400;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-family: "Manrope", sans-serif;
  color: #101828;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
  color: #ed1c24;
}

h1,
.h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.p1 {
  font-size: 16px;
  line-height: 24px;
}

.p2 {
  font-size: 14px;
  line-height: 20px;
}

.small-text {
  font-size: 12px;
  line-height: 16px;
}

.small-text2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.btn {
  border: 0;
}

.btn-primary {
  padding: 10px 12px;
  height: 44px;
  background: #ed1c24;
  border-radius: 0px 4px 4px 0px;
}

.btn-secondary {
  padding: 10px 12px;
  min-width: 109px;
  height: 44px;
  background: #3982f7;
  border-radius: 0px 4px 4px 0px;
}

ul,
p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #878b94;
  &:hover {
    color: #ed1c24;
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background: #f3f4f4;
  border-radius: 50%;
  margin-left: 12px;
  &:hover,
  &:focus {
    background: #f3f4f4;
    border: 0 !important;
  }
  &:first-child {
    margin-left: 0;
  }
}

.p24 {
  padding: 24px;
}

.py24 {
  padding: 24px 0;
}

.mt24 {
  margin-top: 24px;
}

.mt32 {
  margin-top: 32px;
}

.input-group {
  width: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}
.swiper-button-prev,
.swiper-button-next {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  top: calc(50% - 32px);
}

.swiper-button-prev {
  left: 46px;
}

.swiper-button-next {
  right: 46px;
}

.swiper-button-prev:after {
  content: "";
  background: url(../img/icon-prev.png) no-repeat center;
  width: 64px;
  height: 64px;
}

.swiper-button-next:after {
  content: "";
  background: url(../img/icon-next.png) no-repeat center;
  width: 64px;
  height: 64px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-next.swiper-button-disabled::after {
  content: "";
  background: url(../img/icon-next-disabled.png) no-repeat center;
  width: 64px;
  height: 64px;
}

.swiper-button-prev.swiper-button-disabled::after {
  content: "";
  background: url(../img/icon-prev-disabled.png) no-repeat center;
  width: 64px;
  height: 64px;
}
.swiper-wrapper {
  height: auto;
}

.prev-category-sport,
.prev-category-chair {
  left: auto;
  right: 64px;
  top: 44px;
}
.next-category-sport,
.next-category-chair {
  left: auto;
  right: 16px;
  top: 44px;
}
.prev-category-sport,
.next-category-sport,
.prev-category-chair,
.next-category-chair {
  width: 32px;
  height: 32px;
  box-shadow: none;
}
.next-category-sport:after,
.prev-category-sport:after,
.next-category-chair:after,
.prev-category-chair:after {
  width: 32px;
  height: 32px;
}

.prev-btn {
  left: -53px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}
.next-btn,
.swiper-button-next.btn-blog {
  right: -53px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

.swiper-button-prev.btn-blog {
  left: -34px;
}
.swiper-button-next.btn-blog {
  right: -34px;
}

.gnb-mo {
  display: none;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 0;
    background: transparent;
  }
  .btn-group-action {
    display: flex;
    align-items: center;
    button + button {
      margin-left: 10px;
    }
  }
}
.btn_menu {
  width: 32px;
  height: 32px;
}

.btn_close {
  position: absolute;
  top: 35px;
  right: 12px;
  padding: 8px;
}

.gnb {
  display: block;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  top: 0;
  left: -351px;
  width: 351px;
  text-align: left;
  background: #121212;
  z-index: 300;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-overflow-scrolling: touch;
}

// .gnb:before {
//   content: "";
//   display: block;
//   position: fixed;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.7);
//   z-index: 0;
// }

.vka {
  width: 60px;
  max-width: unset;
  height: 60px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 50%;
  background: #c31d1d;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  position: absolute;
  right: 35px;
  bottom: 10px;
  z-index: 1000;
  overflow: hidden;
  transform: rotate(0deg);
  -webkit-transition: all 0.15s cubic-bezier(0.15, 0.87, 0.45, 1.23);
  transition: all 0.15s cubic-bezier(0.15, 0.87, 0.45, 1.23);
}

.vka-wrapper {
  position: fixed;
  bottom: 32px;
  z-index: 9999999;
  right: 0px;
}

.icon-cps-vka-menu {
  width: 46px;
  height: 46px;
  margin: 0 !important;
}

.dropdown-menu {
  width: 356px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.16), 0px 18px 28px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
